.header {
    @include setHeightWidth(100px, 100%);
    padding: 20px;
    background-color: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 10;
    top: 0;
    &__container{
      @include flex-direction-alignText-justifycontent-alignItems(
      row,
      center,
      space-between,
      center
    );
    max-width: 1200px;
    margin: 0 auto;
      &__image {
        &__link {
          cursor: pointer;
          img {
            height: 4rem;
            width: auto;
          }
        }
      }
      &__hamburger__menu {
        @include flex-direction-justifycontent(column, space-between);
        @include setHeightWidth(25px, 35px);
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 12;
    
        @media screen and (min-width: $breakpoint-tablet) {
          display: none;
        }
        &--change {
          &__bar1 {
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          &__bar2 {
            opacity: 0;
          }
          &__bar3 {
            transform: rotate(45deg) translate(-9px, -6px);
          }
        }
        &__bar1,
        &__bar2,
        &__bar3 {
          width: 100%;
          height: 3px;
          background-color: $blue-chess;
          transition: 0.3s;
        }
      }
      &__navbar {
        position: fixed;
        top: 0;
        right: -100%;
        @include setHeightWidth(100%, 60%);
        background-color: white;
        display: flex;
        transition: 0.5s;
        padding: 50px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        &--show {
          right: 0;
        }
        &__list {
          @include flex-direction-justifycontent-alignItems(
            column,
            flex-start,
            center
          );
          gap: 2rem;
          width: 70%;
          &__item {
            margin-top: 2rem;
            //color: #444444;
            text-decoration: none;
            font-weight: bold;
            position: relative;
            a {
              font-size: 24px;
              color: $blue-chess;
              text-decoration: none;
            }
            :hover {
              color: $blue-chess-light;
            }
            ::after {
              position: absolute;
              content: "";
              background-color: $blue-chess-light;
              bottom: -5px;
              left: 0;
              @include setHeightWidth(3px, 0%);
              transition: 0.3s ease all;
            }
            :hover::after {
              width: 100%;
            }
            @media screen and (min-width: $breakpoint-tablet) {
              display: inline-block;
              margin-top: 0;
            }
          }
          @media screen and (min-width: $breakpoint-tablet) {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            background: white;
          }
        }
        @media screen and (min-width: $breakpoint-tablet) {
          position: static;
          margin-left: 0;
          @include setHeightWidth(100%, auto);
          box-shadow: none;
          padding: 0;
          transition: none;
        }
      }
    }
    
  }