* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  list-style: none;
}

/*Limpio*/
.main__container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 65px);
  &__section {
    &--first {
      padding-top: 100px;
    }
    &--header{
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
    &__poster {
      margin-top: 2rem;
      padding: 2rem;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      cursor: pointer;
      display: grid;
      max-width: 1200px;
      grid-template-columns: 1.3fr 0.7fr 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 22vh);

      &__imgDate {
        grid-column: 1 /4;
        grid-row: 1/4;
        position: relative;
        &__img {
          width: 100%;
          height: 100%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          clip-path: circle(50%);
          border-radius: 5px;
        }
        &__date {
          position: absolute;
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 900;
          font-size: x-large;
        }
      }
      &__dateEvent {
        grid-column: 2/4;
        grid-row: 1/2;
        position: relative;
        p {
          display: none;
          background-color: $blue-chess-light;
          position: absolute;
          top: 40px;
          right: 20px;
          width: 100%;
          margin: 0;
          padding: 15px;
          font-size: 1.2rem;
          border-radius: 5px;
          color: white;
          font-weight: 600;
          text-align: right;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
      }
      &__mainCompetitonInformation {
        grid-column: 4/7;
        grid-row: 1/2;
        padding: 20px;
        &__title {
          text-align: right;
        }
        &__subtitle {
          text-align: right;
          font-weight: 900;
          color: grey;
        }
      }
      &__description {
        padding: 0 1rem 0 1.5rem;
        grid-column: 4/7;
        grid-row: 2/5;
        &__title {
          text-align: right;
          font-weight: 600;
        }
        &__paragraph {
          text-align: right;
        }
        &__subtitle {
          text-align: right;
        }
        &__contact {
          text-align: right;
          display: block;
        }
      }
    }
  }
}

h1 {
  letter-spacing: 1px;
  font-size: 3.1rem;
  line-height: 0.9em;
  text-align: center;
  color: $blue-chess;
  font-family: $font-family-sans-serif;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2rem;
  }
}
h2 {
  margin-top: 3rem;
  font-family: $font-family-sans-serif;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1.8rem;
  }
  color: $blue-chess;
}
h3 {
  font-size: 1.75rem;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  color: $blue-chess;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1rem;
  }
}

.cards-section {
  padding-top: calc(60px + 4rem);
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  margin-top: 2rem;
}
.cards {
  display: flex;

  flex-wrap: wrap;
  justify-content: left;
  align-items: stretch;
  gap: 1rem;
  padding: 0;
}
.card__item {
  flex: 0 1 calc(33.33% - 1rem);
  @media (max-width: $mqMinWidth) {
    flex: 0 1 100%;
  }
  @media (min-width: $mqMinWidth) and (max-width: $breakpoint-tablet) {
    flex: 0 1 calc(50% - 1rem);
  }
}
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  /*border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  */
  border: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .card-img-top img {
    filter: contrast(70%);
    padding: 1rem;
    border-radius: 25px;
    width: 100%;
  }
  //flex: 0 1 calc(25% - 1em);
  &:hover {
    .card-img-top img {
      filter: contrast(100%);
    }
  }
  .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/*body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}*/
