
.main{
  &__container{
    &__section{
      &--cards-section{
        max-width: 1200px;
        padding-top: 90px;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: white;
      }
      &__list{
        &--cards{
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          align-items: stretch;
          justify-content: left;
          padding: 0;
          margin-top: 2rem;
          margin-left: 1rem;
        }
        &__item{
          &--card-item{
            flex: 0 1 calc(33.33% - 1rem);
            @media (max-width: $mqMinWidth) {
              flex: 0 1 100%;
              margin-right: 1rem;
            }
            @media (min-width: $mqMinWidth) and (max-width: $breakpoint-tablet) {
              flex: 0 1 calc(50% - 1rem);
            }
          }
        }
      }
    }
  }
}


.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: none;
  box-shadow: rgba(100 100 111 / 20%) 0px 7px 29px 0px;
  .card-img-top img {
    width: 100%;
    padding: 1rem;
    filter: contrast(70%);
    border-radius: 25px;
  }
  &:hover {
    .card-img-top img {
      filter: contrast(100%);
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      font-size: 2rem;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.6rem;
      }
    }
    p{
      font-size: 1.4rem;
      color: $text-gray;
      text-align: justify;

      @media (max-width: $breakpoint-tablet) {
        font-size: 1.1rem;
      }
    }
    span{
      font-size: 1.2rem;
      font-weight: 600;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1rem;
      }
    }
    
  }
}
