.d-block {
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
}
.main {
  &__section {
    &--imageFooterPage {
      height: 300px;
      box-shadow: rgba(0 0 0 / 5%) 0px 6px 24px 0px,
        rgba(0 0 0 / 8%) 0px 0px 0px 1px;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__container {
    &__section {
      &--header {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 2rem;
        margin: 0 2rem;
      }
      &__paragraph {
        text-align: justify;
      }
      &__list {
        &--custom {
          padding-left: 0;
          margin-right: 2rem;
          margin-left: 2rem;

          counter-reset: item;
        }
        &__item {
          &__title {
            font-weight: 900;
            color: $blue-chess;
            text-align: justify;
          }
          &__paragraph {
            text-align: justify;
          }
          &--article {
            position: relative;
            margin-right: 44px;

            &::before {
              position: absolute;
              top: 5px;
              left: -26px;
              float: left;
              width: 18px;
              height: 18px;
              font: bold 12px sans-serif;
              line-height: 18px;
              color: $blue-chess;
              text-align: center;
              content: counter(item);
              counter-increment: item;
              border: 0.5px solid $blue-chess;
              border-radius: 100%;
            }
          }
        }
      }
      &--last {
        margin-right: 2rem;
      }
    }
    &--header {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
