.d-block {
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
}
.carousel-caption{
  background-color: rgba(254 253 253 / 23.3%);
}
.carousel-item{
  h1{
    display: inline-block;
    padding: 3px;
    font-size: 3.1rem;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2rem;
    }
  }
}
.fa-flag{
  font-size: 2.5rem;
  color:$blue-chess;
}
.main {
  &__section {
    &--imageFooterPage {
      height: 300px;
      box-shadow: rgba(0 0 0 / 5%) 0px 6px 24px 0px,
        rgba(0 0 0 / 8%) 0px 0px 0px 1px;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__container {
    &__separator{
      margin: 1rem 2rem;
    }
    &__section {
      &--header {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 2rem;
        margin: 0 2rem;
      }
      &__paragraph{
        font-size: 1.4rem;
        color: $text-gray;
        text-align: justify;
        @media (max-width: $breakpoint-tablet) {
          font-size: 1.1rem;
        }
      }
      &__list {
        &--custom {
          padding-left: 0;
          margin-right: 2rem;
          margin-left: 2rem;

          counter-reset: item;
        }
        &__item {
          &__title {
            font-size: 1.6rem;
            font-weight: 900;
            color: $blue-chess;
            text-align: justify;
            @media (max-width: $breakpoint-tablet) {
              font-size: 1.3rem;
            }
          }
          &__paragraph{
            font-size: 1.4rem;
            color: $text-gray;
            text-align: justify;
            @media (max-width: $breakpoint-tablet) {
              font-size: 1.1rem;
            }
          }
          &--article {
            position: relative;
            margin-right: 44px;

            &::before {
              position: absolute;
              top: 9px;
              left: -26px;
              float: left;
              width: 18px;
              height: 18px;
              font: bold 12px sans-serif;
              line-height: 18px;
              color: $blue-chess;
              text-align: center;
              content: counter(item);
              counter-increment: item;
              border: 0.5px solid $blue-chess;
              border-radius: 100%;
            }
          }
        }
      }
      &--last {
        margin-right: 2rem;
      }
    }
    &--header {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
