@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

/*Colors*/
$blue-chess: #3B58DD;
$blue-chess-light: color.scale($blue-chess, $lightness: 20%);
$blue-chess-lightess: color.scale($blue-chess, $lightness: 60%);

/*Text colors*/
$text-gray: #e3d6d64d;

/*Box shadow*/

/*Sizes screen*/
$mqMinWidth: 420px;
$breakpoint-tablet: 768px;

/*Bootstrap*/
$theme-colors: (
 "primary": #3B58DD
 );

 /*Swiper*/
$carousel-dark-indicator-active-bg:  $blue-chess !default;
$carousel-dark-control-icon-filter:  $blue-chess;
$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$blue-chess}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$blue-chess}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");